@charset "utf-8";
/* CSS Document*/
/*Define the body element's color*/

.header {
    display: flex;
}

#nav {
    width: 100%;
    margin: 0 1 1 1;
    padding: 300;
    background-color: #FDEBF1;
    border-bottom: 0px solid white;  }
#nav ul {
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0; }
#nav li {
    float: left;
    font-family: 'Open Sans', sans-serif; }
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: gray;
    border-right: 0px solid black; }
#nav li:first-child a {
    border-left: 0px solid black; }
#nav li a:hover {
    color: ;
    background-color: white; }

.topimage {
    width: 100%;
    display: flex;
    margin: 0 0px;
    background-color: #FDEBF1;

}
.topimage img {

    max-width: 100%;

}
.ssmainphoto{

    justify-content: center;
    height: 500px;
    width: 950px;

}

.menu_photo{

    height: 349.5px;
    width: 485px;

    margin: 0px 0px 0px 0px;
    display: block;
    float: left;


}

.events_photo{

    height: 349.5px;
    width: 485px;

    margin: 0px 0px 0px 0px;
    display: block;
    float: left;


}

.info_photo{

    height: 349.5px;
    width: 485px;

    margin: 0px 0px 0px 0px;
    display: block;
    float: left;


}

.menu_block {

    height: 349.5px;
    width: 465px;
    margin: 0px 10px 0px 0px;
    padding: 0px;

    display: block;
    float: right;
    text-decoration: none;
    color:white;
    background-color: #673558;


}


.events_block {

    height: 349.5px;
    width: 465px;
    margin: 0px 10px 0px 0px;
    padding: 0px;

    display: block;
    float: right;
    text-decoration: none;
    color:white;
    background-color: #99cccc;
    position: relative;

}

.info_block {

    height: 349.5px;
    width: 465px;
    margin: 0px 10px 0px 0px;
    padding: 0px;

    display: block;
    float: right;
    text-decoration: none;
    color:white;
    background-color: #E14374;

}

.span {
    font-size: 500px
}




.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;


}


.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;

}

 .flex-item-1 {
    width: 335px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}

 .flex-item-2 {
    width: 335px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    background-color: #673558;
    font-family: 'Raleway', sans-serif;
    color: white;
}

 .flex-item-3 {
    width: 335px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}

 .flex-item-4 {
    width: 335px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    background-color: #99cccc;
    font-family: 'Raleway', sans-serif;
    color: white;
}

 .flex-item-5 {
    width: 335px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}

 .flex-item-6 {
    width: 335px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    background-color: #e14374;
    font-family: 'Raleway', sans-serif;
    color: white;
}


h2 {
    font-family: 'Lora';
}



